

/* ==========================================================================
   gangster styles
   ========================================================================== */
/* font face */
@font-face {
  font-family: 'Mueso';
  src: url('/fonts/mueso.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/fonts/mueso.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {background:url('../img/bg.png') top left repeat; font-family: 'Lucida Grande', Arial;}

.navbar {margin-bottom:0;}

/* #top{position:relative;} */

#poem-form input {height:50px!important; width:378px; line-height:50px; border-radius:0!important; border-color:#999999!important;}
.input-prepend .add-on, .input-prepend .add-on:first-child {border-color:#999999; height:40px; width:40px; line-height:40px; border-radius:0;}
#poem-form .input-prepend input {width:313px; height:40px!important; line-height:40px!important;}
.add-on.valid {background:#9ed92d!important;}
.add-on.error {background:#e03c3c!important;}

.btn.btn-main {background:#78b306; border-color:#999999; text-shadow:none; border-radius:0; color:#fff; text-transform:uppercase; padding:10px 15px;}

.intro {margin-top:50px; padding-bottom:40px;}
.intro h1 {text-align:center; font-size:48px; font-weight:normal; color:#222222; padding-bottom:10px; font-family: Mueso, Arial;}
.intro p {text-align:center; color:#222222; font-size:18px;line-height:1.4em; font-weight: normal;}


.poem-photo {width:540px; min-height:500px; background:#ccc; float:left;}
.poem-photo img {width:540px;}

#bottom {background:url('../img/seperator.png') center top no-repeat; padding-top:60px; margin-top:40px;}


.item {margin-bottom:35px; }
.item img {width:250px; float:left;}
.item p {text-align:center; font-size:24px; line-height:1.5em; opacity:.7;}
.poem-text {margin-top:35px;}
.poem-text:before { content:'\201C'; padding-right:5px; font-family:"Times New Roman"; color:#e03c3c; font-size:200%; font-weight: normal;}
.poem-text:after { content:'\201D'; padding-left:5px; font-family:"Times New Roman"; color:#e03c3c; font-size:200%; font-weight: normal;}
.poem-author {font-style:italic;}

















